@charset "UTF-8";
	p{width: 110px;text-align:center;}
	.txt1{background-color: aqua;}
	.txt2{background-color: pink;}
	.txt3{background-color: orange;}
	.txt4{background-color: green;}
	.txt5{background-color: gold;}